{% extends 'base.html' %}
{% block content %}
<style>

    .header {
        min-height: 70vh;
        width: 100%;
        background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(/static/img/bakeryshop.jpg);
        background-position: center;
        background-size: cover;
        position: relative;
      }
      
    .body {
        background-color: rgb(56, 56, 56);
        font-size: 1.5rem;
      }
     
    .Text {
        font-family: 'Quicksand', sans-serif;
        font-size:45px;
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      
    .image {
          border-radius: 25px;
          background: #000000;
          padding: 2px;
          height: 100%;
    }

    .history {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding-top: 2%;
    position:relative;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 1.5rem;
    }

    .employees {
  text-align: center;
}
    .usercolumn {
    margin-left: auto;
    width: 50%;
    color: white;
    float: left;
    max-height:100;
    align-items: center;
    padding:2%;
    }
    .card {
    border-radius: 25px;
    background: #f39c12;
    padding-bottom: 2%;
    }
    .card img{
        border-radius: 25px;
    }

    .img {
        width: 15%;
        border-radius: 25px;
        background: #000000;
        padding: 2px;
        width: 15%;
        height: 100%;
    }

    .container {
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0;
    font-size: 15px;
    }

    
    .container::after {
    content: "";
    clear: both;
    display: table;
    }

    .container img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
    }

    .container span {
    font-size: 20px;
    margin-right: 15px;
    font-weight: bold;
    }

    @media (max-width: 500px) {
    .container {
        text-align: center;
    }

    .container img {
        margin: auto;
        float: none;
        display: block;
    }
    }

    .location {
        text-align: center;
    }
    h2 {
        font-size: large;
    }
      
</style>
        
    <div class="header">
    <div class="Text">
        <h1>About 4PeopleBakery</h1>
    </div>
    </div>

    <div class="history">
    <h2> Our History </h2>
    <br>
    
    <p style="text-transform: none;">
        4 People Bakery is a small, Malaysia-based bakery chain. As of February 2022, it operates three
locations in Melaka, five in Kuala Lumpur, and six in Selangor. Its original bakery opened in 2002 in
Taman prima saujana, kajang, selangor, Malaysia. 4 People Bakery was opened in 2002, on the site of
two previous bakeries; its owners, James, had previously run the Bay Village Breads bakery in Point
Reyes and Mill Valley. After the success of their San Francisco bakery they also opened a new bakery
in Malaysia and published a book of recipes from their bakery. Recall where the company initially
started, the bakery was organised by 4 people and they have a meeting before they operate the
company business, what they come to a conclusion is that they nearly disagree with each other
during the meeting but by the following month all of them take a concession and finally get into
partnership. Initially, the company was named as 3 People Bakery. The name changed in April 1990
to 4 People Bakery after the joint force from James's friend with an investment check worth
RM100,000. They had a hard time together after the business launched, they even don’t have
enough money to rent an office so they work at a small dormitory. Although it is hard, they grit their
teeth and keep on going no matter what the problem they’re going to face. What is fortunate is, the
4 People Bakery went through all of this with teamwork and belief among the company members.
    </p>
    <br>

    <p style="text-transform: none;">Over 5 years of operating, 4 People Bakery has caught attention not only customers but also
Company ABC which is a publicly listed company as well, Company ABC would like to make an
investment with 4 People Bakery for a value of RM 300,000. With this investment, 4 People Bakery
made an upgrade for they dormitory, they decides to make their dormitory to become a larger room
rather than buying a office for them to work on as all of them unanimously agreed that they want to
have a good memory regarding all the hardworks they had put in their bakery company. After a few
years passes through and now was 2022 year, their bakery are now a famous marketer and they plan
to offer some courses to promote their products and what's more important is they are getting older
and older, they’re not willing to watch their recipe and all of these hardworks they get through
before their bakery became a famous bakery shop to “extinct”.
    </p>
    </div>

<!--Our employees part-->
<div class="employees">
    <br>
    <h2> Our Team </h2>
    
    <div class="usercolumn">
        
        <div class="card">
            <img src="static/img/James-owner.jpg" class="employeeimage" alt="owner"
            width="381px" 
            height="450px" />
            <h2>James</h2>
            <p class="title">Owner</p>
        </div>
    </div>
    
    <div class="usercolumn">
        <div class="card">
            <img src="static/img/Ali - coowner.jpg" alt="Co-Owner"
            width="381px" 
            height="450px" />
            <h2>Ali</h2>
            <p class="title">Co-Owner</p>
        </div>
    </div>
    
    <div class="usercolumn">
        <div class="card">
            <img src="static/img/farrah.jpg" alt="Accountant"
            width="381px" 
            height="450px" />
            <h2>Farrah</h2>
            <p class="title">Accountant</p>
        </div>
    </div>
    
    <div class="usercolumn">
        <div class="card">
            <img src="static/img/Abu - chef.jpg" alt="Chef"
            width="381px" 
            height="450px" />
            <h2>Abu</h2>
            <p class="title">Chef</p>
        </div>
    </div>
    
    <div class="usercolumn">
        <div class="card">
            <img src="static/img/Harry - chef.jpg" alt="Chef"
            width="381px" 
            height="450px" />
            <h2>Harry</h2>
            <p class="title">Chef</p>
        </div>
    </div>
    
    <div class="usercolumn">
        <div class="card">
            <img src="static/img/Ahmad - chef assistant.jpg" alt="Chef Assistant"
            width="381px" 
            height="450px" />
            <h2>Ahmad</h2>
            <p class="title">Chef Assistant</p>
        </div>
    </div>
    
    <div class="location" >
    <br>
    <h2> Where our shop is located </h2>
    <br>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1992.16156881765!2d101.80241385367353!3d3.00747480203895!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31cdcd09eebad06d%3A0x10589ab2d5070421!2sBeliKek.Com%20Bakery%20Prima%20Saujana%20Kajang!5e0!3m2!1sen!2smy!4v1663502307512!5m2!1sen!2smy" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    
    <br>
    <br>
    <h2> What our customer says </h2>
    <div class="container">
        <img src="static/img/21.jpg" alt="Testimonial" style="width:90px">
        <p><span>Chris Fox.</span> A school teacher </p>
        <p>The best online courses i've ever attended!</p>
      </div>
      
      <div class="container">
        <img src="static/img/3.jpg" alt="Testimonial" style="width:90px">
        <p><span >Rebecca Flex.</span> House wife </p>
        <p>Never thought i could learn to bake something so tasty!</p>
      </div>
      
      <div class="container">
        <img src="static/img/4.jpg" alt="Testimonial" style="width:90px">
        <p><span>Hannah D.</span> House wife </p>
        <p>Instruction are can't be any clearer.</p>
      </div>
      
      <div class="container">
        <img src="static/img/6.jpg" alt="Testimonial" style="width:90px">
        <p><span >John Doe.</span> IT consultant </p>
        <p> The instructor are very friendly and fun to learn from. </p>
      </div>
            
    
    </body>
{% endblock %}   

