{% extends "base.html" %}

{% block content %}
<style>
#courses {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #courses td, #courses th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #courses tr:nth-child(even){background-color: #f2f2f2;}
  
  #courses tr:hover {background-color: #ddd;}
  
  #course th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }
  </style>
  <h1 class="heading">Welcome, {{ current_user.username }}. </h1>
 <div style="font-size: 25px;margin-left: 5%;">
 {% if registerCourses.items %}
 <table id="courses">
    <tr>
        <th>Course</th>
        <th>Quantitiy</th>
        <th>Date registered</th>
    </tr>
    {% for registerCourse in registerCourses.items %} 
     {% if registerCourse.quantity>= 1 %}
        <tr>
            <td>{{ registerCourse.course }}</td>
            <td>{{ registerCourse.quantity }}
            <td>{{ registerCourse.date_registered }}</td>
        </tr>
     {% endif %}  
    {% endfor %}
</table>
 {% else %}
 <h4 style="text-align: center; font-size: 25px;">There are no course registered. Register now</h4>
 {% endif %}
</div>
{% if registerCourses.items %}
<div>
    <br><br>
    <a style="font-size: 25px;margin-left: 15%;" href="{{ url_for('user_course', username=user.username)}}">Your course schedule</a>
</div>
{% endif %}
{% endblock %}
