{% extends 'base.html' %}
{% block content %}
<style>
    *
    {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    }
    
    .box-container .containers-fluid
    {
    width: 100%;
    height: auto;
    padding: 0px 0px 80px 0px;
    }
    .box-container .containers
    {
    width: 1200px;
    height: auto;
    margin: auto;
    }
    .box-container .containers .search
    {
    display: flex;
    padding: 30px 0px;
    justify-content: space-between;
    }
    .box-container .containers .search h1
    {
    letter-spacing: 3px;
    display: inline-block;
    border-bottom: 2px solid green;
    padding-bottom: 10px;
    }
    .box-container .containers .search input
    {
    width: 60%;
    padding: 5px 16px;
    background: transparent;
    border: 1px solid #000;
    font-size: 20px;
    text-transform: capitalize;
    letter-spacing: 3px;
    outline: none;
    }
    .box-container .containers .search input::placeholder
    {
    color: green;
    font-weight: 500;
    }
     .containers .box-list
    {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    
    /*add flexbox style*/
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    }
    .containers .box-list .box
    {
    margin-top: 30px;
    }
     .containers .box-list .box h3
    {
    padding-top: 5px;
    letter-spacing: 2px;
    font-size: 22px;
    font-weight: 400;
    }
    
    </style>
    
<!-- course section starts  -->
<h1 class="heading">our popular courses</h1>    
<div class="box-container">
    <div class="containers-fluid">
        <div class="containers">
            <div class="search">
                
                <input type="text" name="" id="find" placeholder="search here...." onkeyup="search()">
            </div>
            <div class="box-list">
                <div class="box">
                    <img src="static/img/cake.jpg" alt="Cakes">
                    <h3 class="price">$85</h3>
                    <div class="content">
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half"></i>
                        </div>
                        <h4 a href="#" class="title">Cake Baking </a></h4>
                        <p>This course is designed to educate students in the art of baking cakes. Students will learn the basics of mixing, shaping and baking for several baked cake.With our 80/20 teaching method, we transfer skills in 80% of practical lessons and 20% of theory.</p>
                        <div class="info">
                    <h3> <i class="far fa-clock"></i> 10 hours </h3>
                    <h3> <i class="far fa-calendar-alt"></i> 1-2 months </h3>
                    <h3> <i class="fas fa-book"></i> 5 modules </h3>
                    <form method=post action="">
                    <input type=hidden name="coursesid" value="cake">
                    <input style="
                    appearance: auto;
                    user-select: none;
                    white-space: pre;
                    align-items: flex-start;
                    text-align: center;
                    cursor: default;
                    box-sizing: border-box;
                    background-color: buttonface;
                    color: buttontext;
                    padding: 1px 6px;
                    border-width: 1px;
                    border-style: outset;
                    border-color: buttonborder;
                    border-image: initial;" type=submit name="submit" value="add to cart">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="box-list">
        <div class="box">
            <img src="static/img/cookie.jpg" alt="Cookies">
            <h3 class="price">$115</h3>
            <div class="content">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half"></i>
                </div>
                <h4 a href="#" class="title">Cookie Baking</a></h4>
                <p>You will learn to bake Cookies in this course. Cookies require simple ingredient, however you need to know the right technique to make them, then it won't be collapsed in the oven.You will learn the right techniques and how to keep track of your oven to bake cookies, it will keep its nice shape and flavour.</p>
                <div class="info">
                    <h3> <i class="far fa-clock"></i> 10 hours </h3>
                    <h3> <i class="far fa-calendar-alt"></i> 1-2 months </h3>
                    <h3> <i class="fas fa-book"></i> 5 modules </h3>
                    <form method=post action="">
                    <input type=hidden name="coursesid" value="cookie">
                    <input style="
                    appearance: auto;
                    user-select: none;
                    white-space: pre;
                    align-items: flex-start;
                    text-align: center;
                    cursor: default;
                    box-sizing: border-box;
                    background-color: buttonface;
                    color: buttontext;
                    padding: 1px 6px;
                    border-width: 1px;
                    border-style: outset;
                    border-color: buttonborder;
                    border-image: initial;" type=submit name="submit" value="add to cart">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="box-list">
        <div class="box">
            <img src="static/img/bun.jpg" alt="Breads and Buns">
            <h3 class="price">$145</h3>
            <div class="content">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half"></i>
                </div>
                <h4 a href="#" class="title">Bread and Bun Baking </a></h4>
                <p>In this course you will find useful information and recipes for traditional breads, white breads, whole wheat breads, sourdough breads, rye breads, sweet breads, quick breads, unleavened breads, gluten-free breads, grain-free breads, and alternative uses for stale breads.</p>
                <div class="info">
                    <h3> <i class="far fa-clock"></i> 10 hours </h3>
                    <h3> <i class="far fa-calendar-alt"></i> 1-2 months </h3>
                    <h3> <i class="fas fa-book"></i> 5 modules </h3>
                    <form method=post action="">
                    <input type=hidden name="coursesid" value="bread and bun">
                    <input style="
                    appearance: auto;
                    user-select: none;
                    white-space: pre;
                    align-items: flex-start;
                    text-align: center;
                    cursor: default;
                    box-sizing: border-box;
                    background-color: buttonface;
                    color: buttontext;
                    padding: 1px 6px;
                    border-width: 1px;
                    border-style: outset;
                    border-color: buttonborder;
                    border-image: initial;" type=submit name="submit" value="add to cart">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="box-list">
        <div class="box">
            <img src="static/img/brownie.jpg" alt="Brownies">
            <h3 class="price">$105</h3>
            <div class="content">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half"></i>
                </div>
                <h4 a href="#" class="title">Brownie Baking</a></h4>
                <p>With this baking course you will finally be able to put behind you all those memories of dry, overbaked brownies.Once you have learnt how to make and bake your Epic Chocolate Brownie.</p>
                <div class="info">
                    <h3> <i class="far fa-clock"></i> 10 hours </h3>
                    <h3> <i class="far fa-calendar-alt"></i> 1-2 months </h3>
                    <h3> <i class="fas fa-book"></i> 5 modules </h3>
                    <form method=post action="">
                    <input type=hidden name="coursesid" value="brownie">
                    <input style="
                    appearance: auto;
                    user-select: none;
                    white-space: pre;
                    align-items: flex-start;
                    text-align: center;
                    cursor: default;
                    box-sizing: border-box;
                    background-color: buttonface;
                    color: buttontext;
                    padding: 1px 6px;
                    border-width: 1px;
                    border-style: outset;
                    border-color: buttonborder;
                    border-image: initial;" type=submit name="submit" value="add to cart">
                    </form>
                </div>
            </div>
        </div>
    </div>
<div class="box-list">
    <div class="box">
        <img src="static/img/mooncake.jpg" alt="Mooncakes">
        <h3 class="price">$125</h3>
        <div class="content">
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half"></i>
            </div>
            <h4 a href="#" class="title">Mooncake Baking</a></h4>
            <p>In our mooncake baking class, we will teach you the required basic sets of skills in order to let you kick start your mooncake baking journey confidently. Our aim is to provide easy, simple & step by step directions for you to approach the mooncake baking process.</p>
            <div class="info">
                <h3> <i class="far fa-clock"></i> 10 hours </h3>
                <h3> <i class="far fa-calendar-alt"></i> 1-2 month </h3>
                <h3> <i class="fas fa-book"></i> 5 modules </h3>
                <form method=post action="">
                <input type=hidden name="coursesid" value="mooncake">
                <input style="
                appearance: auto;
                user-select: none;
                white-space: pre;
                align-items: flex-start;
                text-align: center;
                cursor: default;
                box-sizing: border-box;
                background-color: buttonface;
                color: buttontext;
                padding: 1px 6px;
                border-width: 1px;
                border-style: outset;
                border-color: buttonborder;
                border-image: initial;" type=submit name="submit" value="add to cart">
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
<div>
    <br></br>
    <h2 class="heading">Course Ranking</h2>
    <ol style="font-size: 25px;">
       {% for key, value in CourseRank.items() %}
            <li style="margin-left: 35%;">{{ key }} baking course</li>
       {% endfor %}
    </ol>
    <br></br><br></br>
</div>
<div>
    <style>
      table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
          width: 65%;
          text-align: center;
          vertical-align: middle;
          padding:7px;
          border-spacing:20px;
          font-family: Arial, Helvetica, sans-serif;
      }
      tr:hover {background-color:rgb(255, 177, 82)
      }
  
      table {
        background-color: #ffdda3;
      }
  
      tr:nth-child(1) {
        background-color: #f39c12;
      }
      
      h2 {
          text-align: center;
      }
      
    </style>
    <h1 class="heading">Course schedule</h1>
      <p style="font-size: 25px;margin-left: 20%;"><i style='font-size:20px' class='fas'>&#xf0f3;</i> Course start from 1st week of August, 2025</p>
      <table style="border:1px solid black;margin-left:auto;margin-right:auto;font-size: 15px;">
          <colgroup>
              <col span="1" style="background-color: #ffbb4d">
          </colgroup>
          <tr >
              <th>Time</th>
              <th>Monday</th>
              <th>Tuesday</th>
              <th>Wednesday</th>
              <th>Thursday</th>
              <th>Friday</th>
              <th>Saturday</th>
              <th>Sunday</th>
          </tr>
          <tr>
            <td>6:00 PM</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
          <tr>
              <td>8:00 PM</td>
              <td></td>
              <td>Mooncake<p>8:00PM - 10:00PM</td>
              <td>Brownie<p>8:00PM - 10:00PM</td>
              <td>Bread and Bun<p>8:00PM - 10:00PM</td>
              <td>Cookie<p>8:00PM - 10:00PM</td>
              <td>Cake<p>8:00PM - 10:00PM</td>
              <td></td>
          </tr>
        </table>
        <br></br><br></br><br></br>
  </div>
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    {% endblock %}    
