<!-- footer section starts  -->
<div class="footer">

    <div class="box-container">
  
        <div class="box">
            <h3>branch locations</h3>
            <a href="https://www.google.com/maps?ll=3.008419,101.805608&z=17&t=m&hl=en&gl=MY&mapclient=embed&cid=1177861395426247713" target="_blank">
                MALAYSIA</a>
            <a href="https://www.google.com/maps/place/Mother+Dough/@1.3034458,103.8567595,17z/data=!3m1!4b1!4m5!3m4!1s0x31da196139d4cb9b:0x416c1f223cb3a9a6!8m2!3d1.3034453!4d103.8589529?hl=en" target="_blank">
                SINGAPORE</a>
            <a href="https://www.google.com/maps/place/Ole+%26+Steen/@51.5092346,-0.1348085,17z/data=!3m1!4b1!4m5!3m4!1s0x487604d17b26dc63:0xf987cacb0b7038d7!8m2!3d51.5092346!4d-0.1326145?hl=en" target="_blank">
                UNITED KINGDOWK</a>
            <a href="https://www.google.com/maps/place/Lillian+Cake+Shop/@31.2349037,121.4714532,17z/data=!3m1!4b1!4m5!3m4!1s0x35b270417ec0dad3:0x70e9143427d699c6!8m2!3d31.2349037!4d121.4736472?hl=en" target="_blank">
                CHINA</a>
        </div>
  
        <div class="box">
            <h3>quick links</h3>
            <a href="{{ url_for('home')}}">Home</a>
            <a href="{{ url_for('about')}}">About</a>
            <a href="{{ url_for('course')}}">Course</a>
            <a href="{{ url_for('session_cart')}}">Cart</a>
            <a href="{{ url_for('login')}}">Sign In</a>
            <a href="{{ url_for('register')}}">Register</a>
            <a href="{{ url_for('account')}}">Account</a>
  
        </div>
  
        <div class="box">
            <h3>contact info</h3>
            <p> <i class="fas fa-map-marker-alt"></i> Kajang 43000, Malaysia </p>
            <p> <i class="fas fa-envelope" ></i> mrnigelng@gmail.com </p>
            <p> <i class="fas fa-phone"></i> +123-456-7890 </p>
        </div>
  
    </div>
  
    <h1 class="credit">created by <a href="#">4 People Bakery</a> all rights reserved. </h1>
  
  </div>
  
  <!-- footer section ends -->
 